table {border-collapse:collapse;border-spacing:0}
.demo-content {padding:20px;}
.title {font-size:40px;}
.tbl-demo-info {min-width:50%;margin-top:15px;}
.tbl-demo-info th, 
.tbl-demo-info td {padding:15px 10px;border-bottom:1px solid #ccc;text-align:left;}